{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Success</h1><br>
        <hr>
        <p>
         <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<p>Check your email for the link to change password

</p>
     <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</div>

</div>
</div>
{% endblock %}