{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'profile/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'profile/css/simple-sidebar.css' %}" rel="stylesheet">

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Profile</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Start Exam</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Fees Details</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Check Result</a>
 <!--        <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Status</a> -->
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-default" id="menu-toggle" style="background-color: green;color: white;">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
            </li>

          </ul>
        </div>
      </nav>

      <div class="container-fluid">

        <div class="row">


            <div class="col-md-12">



            <div class="alert alert-success" role="alert" style="background-color: green;color: white;">
            PROFILE INFORMATION
            </div>

            <div class="row">

            <div class="col-md-6">
            <p>Firstname: {{request.user.first_name}} </p>
            <p>Email: {{request.user.email}} </p>
            <p>Address:</p>
            <p>State</p>        
            </div>

            <div class='col-md-4'>
            <p>Lastname: </p>
            <p>Registration No: {{request.user.username}}</p>
            <p>City: </p>
            <p>Country: </p>
            </div>

            </div>
            <!-- end row -->
            
            </div>

        </div>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'profile/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'profile/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>
