
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Password reset complete</h1><br>
        <hr>
        <p>
         <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;<p>Password reset has been completed successfully,&nbsp;use the login option below to get yourself authenticated and start using atreat4u services unlimitedly .

</p>
     <br>
     |   <a href="{% url 'account:login' %}"> Log-in now    </a>|
    <br>
    <hr>
</div>
 <div class="col-md-6">
 <br>
 <br>
 <br>

 </div>
</div>
</div>
{% endblock %}