{%  extends "base.html" %}
{% block body %}
<title>  Password_reset_done | atreat4u</title>
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-paper-plane" aria-hidden="true" style="color: orange"></i>&nbsp;Password Reset Sent</h1><br>
        <hr>
        <p>
         <p>We've emailed you instructions for setting your password, if an account exists with the email you  entered. You should receive them shortly.

   If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.

</p>
    
     </p>
    <br>
    <hr>
</div>
 <div class="col-md-6">
 <br>
 <br>
 <br>

 </div>
</div>
</div>
{% endblock %}