 {% extends 'base.html' %}
{% load crispy_forms_tags %}

<title> Confirm_Reset_Password | atreat4u   2</title>


{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-6">
        <hr>
        <h1 style="font-family: 'black_jackregular';"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Password reset</h1><br>
        <hr>
        <p>
         <i class="fa fa-key" aria-hidden="true"></i>&nbsp; Read the instructions carefully and your new password will be authenticated in no time.
     </p>
      <form method="post">
    {% csrf_token %}
    {{ form|crispy}}

    {% block button %}
    <button type="submit" class="btn btn-primary btn-md btn-block"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp;Reset Password</button>
    {% endblock %}
 </form>
    <br>
    <hr>
</div>
 <div class="col-md-6">
 <br>
 <br>
 <br>

 </div>
</div>
</div>
{% endblock %}