   {% load static %}
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion"> 
          <p class="centered"><a href=""><img src="{% static 'student/img/fr-05.jpg' %}" class="img-circle" width="80"></a></p>
          <h5 class="centered">{{request.user.username}}</h5>
          <li class="mt">
            <a class="" href="">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


        <li class="mt">
        <a class="" href="">
        <i class="fa fa-home"></i>
        <span>Homework</span>
        </a>
        </li>




          <li>

            <a href="">
              <i class="fa fa-rss-square"></i>
              <span>Time Table </span>

              <span class="label label-theme pull-right mail-info">{{context_post}}</span>
              </a>
          </li>


        <li data-toggle="modal" data-target="#myModal2">

            <a>
              <i class="fa fa-rss-square"></i>
              <span>Exam</span>

              <span class="label label-theme pull-right mail-info">{{context_post}}</span>
              </a>
          </li>



        </ul>
        <!-- sidebar menu end-->






      </div>
    </aside>





            <!-- The startexam Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content">

    <!--   Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Your Details</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!--  Modal body -->
      <div class="modal-body">


<form method="post" action="{% url 'exam:startexam' %}"> {% csrf_token %}
<div class="form-group">
<label for="sel1">Select Subject:</label>
<select class="form-control" id="select_subject" name="select_subject">
<!-- <option>Basic Science</option> -->

<option>MATHEMATICS</option>
<option>ENGLISH_LANGUAGE</option>
<option>AGRICULTURE</option>
<option>PHONICS</option>
<option>BASIC_SCIENCE</option>
<option>BASIC_TECHNOLOGY</option>
<option>HISTORY</option>
<option>LITERATURE_IN_ENGLISH</option>
<option>CRS</option>
<option>COMPUTER</option>
<option>CULTURAL_AND_CREATIVE_ART </option>
<option>MUSIC</option>
<option>HOME_ECONOMICS</option>
<option>EDO</option>
<option>SOCIAL_STUDIES</option>
<option>CIVIC_EDUCATION</option>
<option>QUANTITATIVE-REASONING</option>
<option>VERBAL_REASONING</option>
<option>PRACTICAL_LIFE_ACTIVITY</option>
<option>RHYMES</option>
<option>SENSORIAL</option>
<option>VOCATION_AND_PHYSICAL_EDUCATION</option>
<option>BUSINESS_STUDIES</option>

</select>
</div>


</div>

      <!-- Modal footer -->
      <div class="modal-footer">
      <!-- <div class="spinner-border text-primary" style="display: none;"></div> -->
        <button type="submit" class="btn btn-primary">Start</button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
</form>
    </div>
  </div>
</div> <!-- end of modal -->