{% extends 'exam/base.html' %}
{% load static %}
{% block body %}

<body id="body">
<div class="container-fluid">
<div class="row">
  <div class="col-md-12">

    <div class="table-responsive-sm"> 
        <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Subject</th>
            <th>Class</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
           {% for i in qs %}
          <tr>
            <td>{{i.subject_name}}</td>
             <td>{{i.class_student}}</td>
            
          <!--   <td><i class="fa fa-edit"></i></td> -->
            <td><a href="{% url 'exam:delete_subject' i.id %}"><i class="fa fa-trash"></i></a></td>
           
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>

<hr>



</div>


<div class="col-md-6 offset-md-3">
  <center><h6>Add Subject</h6></center>
  <br>
  <form action="{% url 'exam:add_subject' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="subject">Subject Name:</label>
    <input type="text" name='subject' class="form-control" id="subject">
  </div>
  <div class="form-group">
    <label for="subject_class">Class:</label>
    <input type="text" name="subject_class" class="form-control" id="subject_class">
  </div>
  <div class="form-group form-check">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>




</div>
</div>

<script src="{% static 'exam/js/jquery.min.js' %}"></script>
<script src="{% static 'exam/js/popper.js' %}"></script>

<script src="{% static 'exam/js/bootstrap.js' %}"></script>
<script src="{% static 'exam/index.js' %}"></script>

</body>
</html>

{% endblock %}


