<div class="btn-group" style="">
    <span class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-top:-1px;font-size:12px;background-color: rgba(0,0,0,0); color: orange; border-color: rgba(0,0,0,0);">
       Property type
    </span>

      <div class="dropdown-menu" style="height: 220px; width: 190px; overflow-x: hidden; overflow-x: auto;">
      <form>

      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="All" name="propertycheck" value="All property types" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">All property types</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="House" name="propertycheck" value="House" onclick='changePropertyType(this.id)' >
        <label class="form-check-label" for="all"> House</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Apartment" name="propertycheck" value="Apartment & Unit" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all"> Apartment & Unit</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Town" name="propertycheck" value="Town House" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">Town House</label>
      </div>
<div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Villa" name="propertycheck" value="Villa" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">Villa</label>
      </div>

<div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Land" name="propertycheck" value="Land" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">Land</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Acreage" name="propertycheck" value="Acreage" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all"> Acreage</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Rural" name="propertycheck" value="Rural" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all"> Rural</label>
      </div>
      <div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Block" name="propertycheck" value="Block Of Units" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">Block Of Units</label>
      </div>
<div class="form-check dropdown-item">
        <input type="checkbox" class="form-check-input" id="Retirement" name="propertycheck" value="Retirement Living" onclick='changePropertyType(this.id)'>
        <label class="form-check-label" for="all">Retirement Living</label>
      </div>

      </form>
    </div>