{% extends 'base.html' %}
{% load static %}

{% block body %}

 
	<!-- Header -->
	<header id="head">
		<div class="container">
             <div class="heading-text">							
<!-- 							<h1 class="animated flipInY delay1">Cream Crest International School </h1>
							<p>Free Online education template for elearning and online education institute.</p> -->
						</div>
            
					<div class="fluid_container">                       
                    <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">
                        <!-- <img src="{% static 'assets/images/slides/img3.jpg' %}"  alt="Celebrities"> -->
                        <div data-thumb="{% static 'img/1.jpg' %}" data-src="{% static 'img/1.jpg' %}">
                            <h2>We develop.</h2>
                        </div> 
                        <div data-thumb="{% static 'img/3.jpg' %}" data-src="{% static 'img/3.jpg' %}">
                        </div>
                        <div data-thumb="{% static 'img/5.jpg' %}" data-src="{% static 'img/5.jpg' %}">
                        </div> 
                    </div><!-- #camera_wrap_3 -->
                </div><!-- .fluid_container -->
		</div>
	</header>
	<!-- /Header -->





  <div class="container">
    <div class="row">
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="{% static 'assets/images/1.png' %}" alt="" />

              </div><!--icon box top -->
              <h4>What we do</h4>
              <p>We are known for our academic excellence and morally upright student<br><br></p>
               <!--  <p><a href="#"><em>Read More</em></a></p> -->
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="{% static 'assets/images/2.png' %}" alt="" />

              </div><!--icon box top -->
              <h4>Our Mission</h4>
              <p>To provide an environment in which an individual is assisted to discover his or her potential<br><br></p>
                <!-- <p><a href="#"><em>Read More</em></a></p> -->
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="{% static 'assets/images/3.png' %}" alt="" />
              </div><!--icon box top -->
              <h4>Our goal</h4>
              <p>To allow your child discover and develop their unique talents within a disciplined and caring environment</p>
                <!-- <p><a href="#"><em>Read More</em></a></p> -->
            </div><!--grey box -->
          </div><!--/span3-->
          <div class="col-md-3">
            <div class="grey-box-icon">
              <div class="icon-box-top grey-box-icon-pos">
                <img src="{% static 'assets/images/4.png' %}" alt="" />
              </div><!--icon box top -->
              <h4>Meet our Staff</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
              eset nec lacus elit dor broma.</p>
                <!-- <p><a href="#"><em>Read More →</em></a></p> -->
            </div><!--grey box -->
          </div><!--/span3-->
        </div>
    </div>






      <section class="news-box top-margin">
        <div class="container">
            <h2><span>Our School</span></h2>
            <div class="row">
       
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail"> 
                            <figure><img src="{% static 'img/student3.jpg' %}" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5><b>Pre School</b></h5></p>
                                            <p>We believe in the building of our children from their early years and hence the need for leveraging upon our children's experiences and poor knowledge which provides best foundation. <br>
                                            At CreamCrest, we develop and cultivate the ability to learn from early age
                                             </p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail"> 
                            <figure><img src="{% static 'img/student2.jpg' %}" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5><b>Primary School</b></h5></p>
                                            <p>Primary School are the bedrock of the secondary school and university education. Here children begin to acquire knowledge and skills.</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="{% static 'img/science-lab.jpg' %}" alt=""></figure>
                            <div class="caption maxheight2">
                            <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5><b>Secondary School</b></h5></p>
                                            <p>Our secondary school program not only ensure university admission but also equip our students with viable skills and confidence to thrive once they are in. Our broad classes includes subjects for science based students, are and social science.</p>
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

<!--                 <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="newsBox">
                        <div class="thumbnail">
                            <figure><img src="{% static 'assets/images/library.jpg' %}" alt=""></figure>
                            <div class="caption maxheight2">
                           <div class="box_inner">
                                        <div class="box">
                                            <p class="title"><h5>Library</h5></p>
                                           
                                        </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
   
    <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <h2><span>Take A Tour</span></h2>

      <div class="row">
    <div class="col-md-4">
 
        <p>Computer Lab</p>
        <img src="{% static 'img/computer-lab2.jpg' %}"  alt="images" style="width:450px;height:250px">
     
    </div>
    <div class="col-md-4">
             <p>Library</p>
        <img src="{% static 'img/library2.jpg' %}" alt="Moustiers Sainte Marie" style="width:450px;height:250px">
    
    </div>
    <div class="col-md-4">
       <p>Science Lab</p>
        <img src="{% static 'img/science-lab2.jpg' %}" alt="Cinque Terre" style="width:450px;height:250px">
      
    </div>
  </div>


      </div>
    </div></div>
	
      <section class="container">
      <div class="row">
      	<div class="col-md-6"><div class="title-box clearfix "><h2 class="title-box_primary">What Makes Us Standout</h2></div> 
        <ul>
          <li>Qualified Staffs</li>
          <li>Conducive Learning Environment</li>
          <li>Growth In Students Performance</li>
          <li>State Of The Art Equipment And Facilities</li>
          <li>Updated Standard Courses</li>
          <li>Extra Curricular Activities</li>

        </ul>
        </div>
              
          
          <div class="col-md-6"><div class="title-box clearfix "><h2 class="title-box_primary">Latest News</h2></div> 
            <div class="list styled custom-list">
            <ul>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">New students resumption</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Result is out</a></li>
           <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">3rd of February is public holiday</a></li>
           <!--  <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy and Modern Languages</a></li>
            <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci." href="#">History (Ancient and Modern)</a></li>
            <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus." href="#">Classical Archaeology and Ancient History</a></li>
            <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus." href="#">Physics and Philosophy</a></li> -->
            </ul>
            </div>
         </div>
      </div>
      </section>
      
    	{% endblock %}  
 