{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">

</head>

<body>


 	<header id="head" class="secondary">
            <div class="container">
                    <h1>Latest News Update</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p> -->
                </div>
    </header>
    
    <!-- container -->
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            {% for i in detail %}
            <a href="{% url 'index:news_detail' i.id %}">
            <div class="col-sm-3">
                 <img src="{{i.image.url}}" class="img-responsive" alt="bude.jpg" style=""><br>
                 <p>{{i.title}}</p>
                 <p>{{i.body|safe|truncatewords:30}}</p>

            </div>
            </a>
            {% endfor %}

        </div>
    </div>
    <!-- /container -->


</body>
</html>
{% endblock %}