{% extends 'administrator/base.html' %}
{% block text %}
{% load crispy_forms_tags %}
{% load static %}


<input style="visibility: hidden;" id='myToken' name="" value="{{csrf_token}}">
<div class="col-sm-12">
<div class="container-fluid">
  <h2>Data for </h2>

    <img id="data_loading" src="{% static 'img/gif.gif' %}" width="100" style="display: none;"> 
    <div id="loading_save" class="well well-sm" style="display: none;">Data Saved</div>
  <p>
  Session: {{session}}<br>
  Class: {{myclass}}<br>
  Subject: {{subject}}<br>
  Term: {{term}}<br>




  </p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Surname</th>
        <th>Middle Name</th>
        <th>First Name</th>
        <th>Reg Number</th>
        <th>1st Test</th>
        <th>2nd Test</th>
        <th>Exam</th>
        <th>Average</th>
        <th>Grade</th>
        
        <th></th>


      </tr>
    </thead>
    <tbody>
    {% for i in qs %}
      <tr>
        <td>{{i.student.surname}}</td>
        <td>{{i.student.middle_name}}</td>
        <td>{{i.student.first_name}}</td>
        <td>{{i.student.Registration_Number}}</td>
        <td><input type="text" value="{{i.first_test}}" name="" oninput ="InputChange('{{i.pk}}','first_test_{{i.pk}}')" id='first_test_{{i.pk}}'></td>
        <td><input type="text" value="{{i.second_test}}" name="" oninput="InputChange('{{i.pk}}','second_test_{{i.pk}}')" id='second_test_{{i.pk}}'></td>
        <td><input type="text" value="{{i.exam}}" name="" oninput="InputChange('{{i.pk}}','exam_{{i.pk}}')" id="exam_{{i.pk}}"></td>
        <td class="text-center"><span id="average_{{i.pk}}">{{i.average}}</span></td>
        <td class="text-center"><span id="grade_{{i.pk}}">{{i.grade}}</span></td>
    
        <td><input type="submit" class="btn btn-primary" name="" style='display: none;' id="button_{{i.pk}}" onclick="updaterResult({{i.pk}})"></td>
      </tr>
    {% endfor %}


    </tbody>


  </table>

 <!--  <button class="btn btn-primary btn-lg">Generate Position</button> -->




 <form action="{% url 'administrator:generate_course' %}" method="POST">{% csrf_token %}

<table>
  <tr>
    <td> 


    <select name='session' style="width: 150px;">      
    <option>{{session}}</option>
    

        
    </select>
     <select name='myclass' style="width: 150px;">

      <option>{{myclass}}</option> 
    
    </select>


     <select name='term' style="width: 150px;">      
      <option>{{term}}</option>
     
      </select>


     <select name='subject' style="width: 150px;">      
      <option>{{subject}}</option>
 
     
    </td>
    <td><input type="submit" value="Add Students"></td>
  </tr>
</table>
  
</form>


</div>
</div>
















{% endblock %}