{% extends 'administrator/base.html' %}
{% load crispy_forms_tags %}
{% block text %}

{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }} well">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

<form action="{% url 'administrator:promote_student' %}" method="POST">{% csrf_token %}

<table>




	<h4>Promote From</h4>
  <tr>
    <td> 
    <select name='from_session' style="width: 150px;">      
    <option>Select a session</option>

      <option>{{current_session.session}}</option>
        
    </select>

     <select name='from_class' style="width: 150px;">
      <option>kg1</option> 
      <option>kg2</option> 
      <option>kg3</option> 
      <option>kg1</option> 
      <option>pry1</option> 
      <option>pry2</option> 
      <option>pry3</option> 
      <option>pry4</option> 
      <option>pry5</option> 
      <option>pry6</option> 
      <option>jss1</option> 
      <option>jss2</option> 
      <option>jss3</option> 
      <option>sss1</option> 
      <option>sss2</option> 
      <option>sss3</option>       
    </select>


     <select name='from_term' style="width: 150px;">      
      <option>Select a term</option>
      <option>{{current_term.term}}</option>     
      </select>



     
    </td>
    
  </tr>
</table>
  <hr>
  <hr>





  <table>
  <tr>
    <td> 
    	<h4>Promote To</h4>
    <select name='to_session' style="width: 150px;">      
    <option>Select a session</option>
    {% for i in all_sessions %}
      <option>{{i}}</option>
    {% endfor %}      
    </select>

     <select name='to_class' style="width: 150px;">
      <option>kg1</option> 
      <option>kg2</option> 
      <option>kg3</option> 
      <option>kg1</option> 
      <option>pry1</option> 
      <option>pry2</option> 
      <option>pry3</option> 
      <option>pry4</option> 
      <option>pry5</option> 
      <option>pry6</option> 
      <option>jss1</option> 
      <option>jss2</option> 
      <option>jss3</option> 
      <option>sss1</option> 
      <option>sss2</option> 
      <option>sss3</option>       
    </select>


     <select name='to_term' style="width: 150px;">      
      <option>Select a term</option>
      {% for i in all_terms %}
        <option>{{i.term}}</option>
      {% endfor %}      
      </select>     
    </td>
    
  </tr>

</table>
<hr>
<hr>
  <input type="submit" value="Promote">
</form>

{% endblock %}